<div class="teacher-info-content">
    <div class="teacher-profile-pic">
        <img src="../../../assets/images/users/avatar.png" alt="Teacher photo" class="rounded-circle shadow-lg">
    </div>
    <div class="teacher-short-desc text-center">
        <h4>{{teacher_name}}</h4>
        <span>{{teacher_degree}}</span>
    </div>
    <div class="teacher-desc">
        <p>
            {{teacher_intro}}
        </p>
        <div class="contact-info">
            <h6><i class="material-icons float-left mr-2 md-21">chat</i> Contacts</h6>
            <ul>
                <li>{{teacher_tel}}</li>
            </ul>
        </div>
    </div>
</div>