<section class="control-panel-content-section">
    <div class="content-title">
        <h3 class="mb-0">Joined Classes</h3>
        <span>All the classes you have joined</span>
    </div>
    <div class="control-panel-content mt-4">
        <div class="text-center my-4" *ngIf="spinner">
            <img class="spinner" src="../../../../assets/images/loaders/spin_lg_white_edge.gif">
            <h6 class="text-monospace">Loading data...</h6>
        </div>
        <div class="mt-4" *ngIf="emptyMsg">
            <div class="alert alert-danger mb-0">
                <i class="material-icons float-left mr-2">error</i>
                <b>You didn't joined for any class yet.</b> Please go to <b>Browse All Classes</b> section on the sidebar and join the classes that you need.
            </div>
        </div>
        <div class="mt-4" *ngIf="errorAlert">
            <div class="alert alert-danger mb-0">
                <i class="material-icons float-left mr-2">error</i>
                {{errorText}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 class-col" *ngFor="let class of classes" style="margin-bottom: 30px;">
                <a [routerLink]="['/mPanel/joined-classes', class.classId, removeUrlSpaces(class.className)]">
                    <div class="card custom-shadow-div">
                        <img src="../../../assets/images/bg2.jpg" class="card-img-top" alt="Class Banner Image">
                        <div class="card-body">
                            <h5 class="card-title">{{class.className}}</h5>
                            <small>By {{class.teacherFname}} {{class.teacherLname}}</small>
                            <p class="card-text">
                                Next class on {{class.h_date}}<br>at {{timeConverter(class._time)}}
                            </p>
                            <hr>
                            <p class="class-price">
                                Rs.{{class.class_fee}}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>