<section class="control-panel-content-section">
    <div class="content-title">
        <button routerLink="/mPanel/joined-classes" class="float-right">
            <i class="material-icons md-21 float-left">arrow_back_ios</i> Back
        </button>
        <h3 class="mb-0">View Class</h3>
        <span>More details about the class</span>
    </div>
    <div class="control-panel-content mt-4">
        <div class="bg-white custom-shadow-div">
            <div class="class-img-banner"></div>
            <div class="row p-4">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <app-std-class-summery></app-std-class-summery>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <app-std-class-tabs></app-std-class-tabs>
                </div>
            </div>
        </div>
    </div>
</section>