.profile-banner-img{
    border-radius: 10px 10px 0 0;
    height: 180px;
    background-image: url("../../../../assets/images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.profile-img-div{
    width: 100%;
    position: absolute;
    top: 40px;
    left: 45px;
}
.profile-img-div > div > div{
    width: 100%;
}
.profile-img-div > div > div > img{
    width: 100%;
    border-radius: 50%;
    border: 4px solid var(--theme-white);
}
.profile-img-div p{
    font-family: cp_m;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 0;
}
.profile-img-div span{
    font-family: cp_l;
    color: var(--theme-white);
}
.profile-banner-bottom{
    background: var(--theme-btn-hover);
    height: 15px;
}
.personal-detail{
    margin-bottom: 5px;
}
.personal-detail:last-child{
    margin-bottom: 0;
}
.personal-detail small{
    color: #8d8d8d;
}
.personal-detail h6, .personal-detail p{
    font-family: cp_r;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .profile-banner-img{
        height: 200px;
    }
    .profile-img-div{
        top: 30px;
        left: 45px;
    }
    .profile-img-div > div > div > img{
        width: 20%;
        border: 2px solid var(--theme-white);
    }
    .profile-img-div p{
        margin-top: 13px;
        font-size: 1.2rem;
    }
    .profile-img-div span{
        font-size: 13px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .profile-banner-img{
        height: 200px;
    }
    .profile-img-div{
        top: 30px;
        left: 45px;
    }
    .profile-img-div > div > div > img{
        width: 20%;
        border: 2px solid var(--theme-white);
    }
    .profile-img-div p{
        margin-top: 13px;
        font-size: 1.2rem;
    }
    .profile-img-div span{
        font-size: 13px;
    }
}