<div class="custom-shadow-div bg-white mb-5">
    <div class="profile-banner">
        <div class="profile-banner-img"></div>
        <div class="profile-img-div">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-2">
                    <img src="../../../assets/images/users/avatar.png" alt="">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <p>{{user_name}}</p>
                    <span>{{auth.currentUser.sub}}</span>
                </div>
            </div>
        </div>
        <div class="profile-banner-bottom"></div>
    </div>
    <div class="p-4">
        <div>
            <div class="personal-detail" *ngIf="isStudent">
                <small>Student ID</small>
                <h6>{{user_std_id}}</h6>
            </div>
            <div class="personal-detail">
                <small>Address</small>
                <h6>{{user_address}}</h6>
            </div>
            <div class="personal-detail">
                <small>Mobile No.</small>
                <h6>{{user_tel}}</h6>
            </div>
            <div class="personal-detail" *ngIf="isStudent">
                <small>Gardian Contact No.</small>
                <h6>{{user_garTel}}</h6>
            </div>
            <div class="personal-detail" *ngIf="isTeacher">
                <small>Qualification</small>
                <h6>{{user_eduQl}}</h6>
            </div>
            <div class="personal-detail" *ngIf="isTeacher">
                <small>Description</small>
                <p class="mb-0">
                    {{user_intro}}
                </p>
            </div>
        </div>
        <!-- <button type="button" class="theme-btn" data-toggle="modal" data-target="#userBioUpdateModal">
            <i class="material-icons md-21 float-left mr-2">edit</i>
            Edit Info
        </button> -->
    </div>
</div>


<div class="modal fade" id="userBioUpdateModal" tabindex="-1" aria-labelledby="userBioUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userBioUpdateModalLabel">Update Personal Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="material-icons float-right">close</span>
                </button>
            </div>
            <div class="modal-body">
                <app-update-bio-info></app-update-bio-info>
            </div>
        </div>
    </div>
</div>