<app-common-navbar></app-common-navbar>
<section class="bg-gray section-height" id="register-page">
    <div class="container custom-section-margin">
        <div class="reset-form-div shadow">
            <h3>Forgot Password</h3>
            <div class="fullwidth-horizontal-divider"></div>
            <div>
                <p>
                    If you forgot/loss your password, please enter your registered email on this platform in below text box. We will send you an email with relevent details regarding your previous password.
                </p>
                <p>&#10043; &nbsp;&nbsp;&nbsp; &#10043; &nbsp;&nbsp;&nbsp; &#10043;</p>
                <div class="alert alert-success alert-dismissible text-left" *ngIf="successAlert">
                    <i class="material-icons float-left mr-2">check_circle</i> Resetting details sent to <b>{{requested_email}}</b>. Please check your email inbox.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger alert-dismissible text-left" *ngIf="errorAlert">
                    <i class="material-icons float-left">cancel</i>
                    &nbsp;&nbsp;{{errorText}}<br><small>Please try again shortly.</small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="mb-1 py-2" role="status" *ngIf="pendingAlert">
                    <img src="../../../assets/images/loaders/spin_sm.gif" alt="loading spinner sm">
                    <small class="ml-2 text-muted">Processing...</small>
                </div>
                <form [formGroup]="passwordResetForm" (ngSubmit)="passwordReset()" #resetForm="ngForm">
                    <div class="form-group mb-1">
                        <input type="email" 
                        formControlName="email" 
                        id="email"
                        placeholder="example@email.com"
                        class="form-control"
                        [ngClass]="{'is-invalid':password_reset.email.errors && password_reset.email.touched}"
                        required>
                        <div *ngIf="password_reset.email.invalid && (password_reset.email.dirty || password_reset.email.touched)" class="text-danger text-left error-msg-div">
                            <div *ngIf="password_reset.email.errors.required"><small>This field is required</small></div>
                        </div>
                    </div>
                    <button class="theme-btn w-100 mt-3" [disabled]="passwordResetForm.invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<app-copyright-sec></app-copyright-sec>
