.reset-form-div{
    background: var(--white);
    padding: 40px 50px;
    border-radius: 10px;
    text-align: center;
}
.reset-form-div h3{
    font-family: nexa;
    color: var(--theme-black);
}
.reset-form-div p{
    font-family: cp_l;
    color: var(--theme-black);
}
.reset-form-div form{
    width: 50%;
    margin: 0 auto;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .reset-form-div form{
        width: 100%;
    }
}