<ul class="nav nav-tabs" id="studentClassTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#last-class" role="tab" aria-controls="last-class" aria-selected="true">Last Class</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#study-material" role="tab" aria-controls="study-material" aria-selected="false">Study Materials</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#assignment" role="tab" aria-controls="assignment" aria-selected="false">Assignments</a>
    </li>
</ul>
<div class="tab-content" id="studentClassTabContent">
    <div class="tab-pane fade show active" id="last-class" role="tabpanel" aria-labelledby="last-class-tab">
        <div *ngIf="hasClass">
            <div class="tab-title mb-2">
                <p class="mb-0">{{lastClass.lesson}}</p>
                <small>{{lastClass.date}}</small>
            </div>
            <hr>
            <div class="last-class-note">
                <h6>Class Note:</h6>
                <p>
                    {{lastClass.note}}
                </p>
            </div>
            <div class="last-class-video">
                <video src="{{lastClass.videoFile}}" controls width="100%"></video>
            </div>
        </div>
        <div *ngIf="emptyMsg">
            <small class="text-danger">
                <i class="material-icons float-left md-21 mr-2" style="margin-top: 3.2px;">error_outline</i>
                No class held until now.
            </small>
        </div>
    </div>
    <div class="tab-pane fade" id="study-material" role="tabpanel" aria-labelledby="study-material-tab">
        <div class="tab-title mb-2">
            <p class="mb-0">Download following study materials for this class</p>
        </div>
        <hr>
        <div class="study-file row" *ngIf="smList">
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 px-0" *ngFor="let sm of smList; let key = index">
                <a href="{{sm.downloadURL}}" title="{{sm.fileName}}" target="_blank" class="text-center">
                    <div class="download-file-div py-3">
                        <i class="material-icons md-42">description</i><br>
                        <small>{{smFileNameShorter(sm.fileName, 7)}}</small>
                    </div>
                </a>
            </div>
        </div>
        <div *ngIf="emptyMsg">
            <small class="text-danger">
                <i class="material-icons float-left md-21 mr-2" style="margin-top: 3.2px;">error_outline</i>
                No study materials found.
            </small>
        </div>
    </div>
    <div class="tab-pane fade" id="assignment" role="tabpanel" aria-labelledby="assignment-tab">
        <div class="tab-title mb-2">
            <p class="mb-0">Download and complete following assignments before their due dates</p>
        </div>
        <hr>
        <div class="study-file row m-0">
            <div class="col-sm-6 col-md-3 col-lg-2" *ngFor="let assigt of assigtList; let key = index">
                <a href="{{assigt.assigtFile}}" title="{{assigt.title}}" target="_blank" class="text-center">
                    <div class="download-file-div py-3">
                        <i class="material-icons md-42">assignment</i><br>
                        <small>{{assgtFileNameShorter(assigt.title, 10)}}</small><br>
                        <span>Deadline: {{assigt.date}}</span>
                    </div>
                </a>
            </div>
        </div>
        <div *ngIf="emptyMsg">
            <small class="text-danger">
                <i class="material-icons float-left md-21 mr-2" style="margin-top: 3.2px;">error_outline</i>
                No assignment found.
            </small>
        </div>
    </div>
</div>