.signin-form-div{
    background: var(--white);
    padding: 40px 50px;
    border-radius: 10px;
    text-align: center;
}
.signin-form-div h3{
    font-family: nexa;
    color: var(--theme-black);
}
.signin-form-div h3 > span{
    text-transform: uppercase;
}
.reset-links-div small{
    color: #666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reset-links-div small > a{
    color: var(--theme-red);
}
