<div class="class-summery">
    <h4>{{class_name}}</h4>
    <span>Next class on {{class_date}} at {{class_time}}.</span>
    <div class="row align-items-center class-teacher-info">
        <div class="col-sm-3 col-md-3 col-lg-3 p-3">
            <img src="../../../assets/images/users/avatar.png" alt="Teacher Profile Photo" width="100%" class="rounded-circle">
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 px-0">
            <small>Teacher</small>
            <h6>{{teacher_name}}</h6>
            <span>{{teacher_degree}}</span><br>
            <small class="more-details-link" data-toggle="modal" data-target="#teacher-info">More details &#8594;</small>
        </div>
    </div>
    <div class="class-status">
        <span class="px-3 py-1 float-right">Owned</span>
        <small>Monthly fee</small>
        <p class="class-price text-left">Rs.{{class_fee}}</p>
    </div>
    <div class="next-class-join p-4 mt-4 text-right">
        <span class="float-left">Next Class</span> 
        <a *ngIf="nextClass_link" href="{{nextClass_link}}" class="next-class-join-link" target="_blank">Attend Now</a>
        <span *ngIf="nextClass_empty_msg">{{nextClass_empty_msg}}</span>
    </div>
</div>

<div class="modal fade" id="teacher-info" tabindex="-1" aria-labelledby="teacher-infoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teacher-infoLabel">Teacher Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="material-icons float-right">close</span>
                </button>
            </div>
            <div class="modal-body">
                <app-teacher-info-modal></app-teacher-info-modal>
            </div>
            <div class="text-center p-3 border-top">
                <button type="button" class="theme-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>