.class-price{
    margin-bottom: 0;
    font-family: cp_m;
    color: var(--theme-black);
    font-size: 20px;
    text-align: left;
}
.class-price > button{
    font-size: 15px;
}
.options-box > span{
    font-family: cp_r;
    color: #777;
    margin-right: 10px;
}
.options-box > select{
    width: 120px;
}
.options-box > select option{
    font-size: 13px;
}
.options-box > input[type=search]{
    font-family: cp_l;
}

@media only screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1366px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
    .class-price{
        font-size: 15px;
    }
    .class-price > button{
        font-size: 13px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .class-price{
        font-size: 14px;
    }
    .class-price > button{
        font-size: 13px;
    }
}