.dashboard-num-div{
    background: var(--theme-black);
    border-radius: 10px;
    color: var(--theme-white);
    text-align: center;
}
.dashboard-num-div > img {
    width: 65%;
    padding: 20px 0;
    opacity: 0.6;
}
.dashboard-num-div > hr{
    background: #7c7c7c;
}
.dashboard-num-div > h4{
    font-family: cp_r;
}
.dashboard-num-div .count{
    color: var(--theme-green);
}