<div class="text-center my-5 text-monospace">
    This feature will be updated soon...
</div>
<!-- <div class="update-form-div">
    <div class="row m-0">
        <div class="col-sm-12 col-md-12 col-lg-8 div-content">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="form-label">First Name:</label>
                        <input type="text" class="form-control" placeholder="Enter First Name">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="form-label">Last Name:</label>
                        <input type="text" class="form-control" placeholder="Enter Last Name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Address:</label>
                <input type="text" class="form-control" placeholder="Enter Address">
            </div>
            <div class="form-group">
                <label class="form-label">Email:</label>
                <input type="text" class="form-control" placeholder="Enter Valid Email">
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="form-label">Your Mobile No:</label>
                        <input type="text" class="form-control" placeholder="Enter Mobile No.">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="form-label">Gardian's Contact No:</label>
                        <input type="text" class="form-control" placeholder="Enter Gardian's No.">
                    </div>
                </div>
            </div>
            <div class="form-group mb-0">
                <label class="form-label">Stream:</label>
                <select name="std-stream" id="std-stream" class="form-select form-control">
                    <option value="" selected disabled>--- Select Your Stream ---</option>
                    <option value="maths">Mathematics</option>
                    <option value="bio">Biology</option>
                    <option value="tech">Technology</option>
                    <option value="commerce">Commerce</option>
                    <option value="art">Art</option>
                    <option value="tenAndElevan">O/L (Grade 10 - 11)</option>
                    <option value="sixToNine">O/L (Grade 6 - 9)</option>
                    <option value="oneToFive">Primary (Grade 1 - 5)</option>
                </select>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label class="form-label">Profile Photo:</label>
            <img src="../../../../assets/images/users/students/student.jpg" alt="" width="100%" class="mb-3">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Upload New</label>
            </div>
            <div class="alert alert-warning text-center">
                <i class="material-icons md-36">warning</i><br>
                Photo need to be maximum 350x350 resolution and must be a square shape one.
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center">
        <button type="submit" class="theme-btn"><i class="material-icons float-left mr-2">arrow_upward</i>Update Info</button>
    </div>
</div> -->