<div class="alert alert-success alert-dismissible text-left" *ngIf="successAlert">
    <i class="material-icons float-left mr-2">check_circle</i> Registered Successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible text-left" *ngIf="errorAlert">
    <i class="material-icons float-left">cancel</i>
    {{errorText}}<br><small>Please try again shortly.</small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="mb-3 py-2" role="status" *ngIf="pendingAlert">
    <img src="../../../assets/images/loaders/spin_sm.gif" alt="loading spinner sm">
    <small class="ml-2 text-muted">Processing... Please wait a movement.</small>
</div>
<div class="teacher-reg-form">
    <form class="mb-4" [formGroup]="tchrRegForm" (ngSubmit)="tchrRegister()" #tchrForm="ngForm">
        <div class="row form-group">
            <div class="col-sm-12 col-md-6 col-lg-6 spec-col">
                <input type="text" 
                formControlName="fName" 
                id="fName" 
                placeholder="First Name" 
                class="form-control"
                [ngClass]="{'is-invalid':tchr_reg.fName.errors && tchr_reg.fName.touched}"
                required>
                <div *ngIf="tchr_reg.fName.invalid && (tchr_reg.fName.dirty || tchr_reg.fName.touched)" class="text-danger text-left error-msg-div">
                    <div *ngIf="tchr_reg.fName.errors.required"><small>First name is required</small></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <input type="text" 
                formControlName="lName" 
                id="lName" 
                placeholder="Last Name" 
                class="form-control"
                [ngClass]="{'is-invalid':tchr_reg.lName.errors && tchr_reg.lName.touched}"
                required>
                <div *ngIf="tchr_reg.lName.invalid && (tchr_reg.lName.dirty || tchr_reg.lName.touched)" class="text-danger text-left error-msg-div">
                    <div *ngIf="tchr_reg.lName.errors.required"><small>Last name is required</small></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" 
            formControlName="address" 
            id="address" 
            placeholder="Address" 
            class="form-control"
            [ngClass]="{'is-invalid':tchr_reg.address.errors && tchr_reg.address.touched}"
            required>
            <div *ngIf="tchr_reg.address.invalid && (tchr_reg.address.dirty || tchr_reg.address.touched)" class="text-danger text-left error-msg-div">
                <div *ngIf="tchr_reg.address.errors.required"><small>Address is required</small></div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12 col-md-6 col-lg-6 spec-col">
                <input type="text" 
                formControlName="city" 
                id="city" 
                placeholder="City" 
                class="form-control"
                [ngClass]="{'is-invalid':tchr_reg.city.errors && tchr_reg.city.touched}"
                required>
                <div *ngIf="tchr_reg.city.invalid && (tchr_reg.city.dirty || tchr_reg.city.touched)" class="text-danger text-left error-msg-div">
                    <div *ngIf="tchr_reg.city.errors.required"><small>City is required</small></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <input type="text" 
                formControlName="telephone" 
                id="telephone" 
                placeholder="Mobile No." 
                class="form-control"
                [ngClass]="{'is-invalid':tchr_reg.telephone.errors && tchr_reg.telephone.touched}"
                required>
                <div *ngIf="tchr_reg.telephone.invalid && (tchr_reg.telephone.dirty || tchr_reg.telephone.touched)" class="text-danger text-left error-msg-div">
                    <div *ngIf="tchr_reg.telephone.errors.required"><small>Mobile No. is required</small></div>
                    <div *ngIf="tchr_reg.telephone.errors.minlength"><small>Must be 10 characters length</small></div>
                    <div *ngIf="tchr_reg.telephone.errors.maxlength"><small>Must be 10 characters length</small></div>
                    <div *ngIf="tchr_reg.telephone.errors.pattern"><small>Only numeric values are allowed</small></div>
                </div>
            </div>
        </div>
        <div class="form-group reg-email-input">
            <input type="text" 
            formControlName="email" 
            id="email" 
            placeholder="Email" 
            class="form-control"
            [ngClass]="{'is-invalid':tchr_reg.email.errors && tchr_reg.email.touched}"
            required>
            <!-- <div class="validator-spinner" role="status" *ngIf="tchr_reg.email.pending">
                <img src="../../../assets/images/loaders/spin_sm.gif" alt="loading spinner sm">
                <small class="text-muted ml-1"><i>Validating...</i></small>
            </div> -->
            <div *ngIf="tchr_reg.email.invalid && (tchr_reg.email.dirty || tchr_reg.email.touched)" class="text-danger text-left error-msg-div">
                <div *ngIf="tchr_reg.email.errors.required"><small>Email is required</small></div>
                <div *ngIf="tchr_reg.email.errors.email"><small>Please enter a valid email</small></div>
            </div>
            <div class="text-danger text-left error-msg-div" *ngIf="tchr_reg.email.hasError('emailExist')">
                <small>Email already exists. Please try another.</small>
            </div>
        </div>
        <div class="form-group">
            <input type="text" 
            formControlName="eduQual" 
            id="eduQual" 
            placeholder="Educational Status - Use comma(,) to seperate each Degree(s) and Diploma(s)" 
            class="form-control"
            [ngClass]="{'is-invalid':tchr_reg.eduQual.errors && tchr_reg.eduQual.touched}"
            required>
            <div *ngIf="tchr_reg.eduQual.invalid && (tchr_reg.eduQual.dirty || tchr_reg.eduQual.touched)" class="text-danger text-left error-msg-div">
                <div *ngIf="tchr_reg.eduQual.errors.required"><small>Educational Status is required</small></div>
            </div>
        </div>
        <div class="form-group">
            <textarea 
            formControlName="teacherIntro" 
            id="teacherIntro" 
            cols="30" rows="2"
            maxlength="255"
            placeholder="Brief introduction about yourself..."
            class="form-control"
            [ngClass]="{'is-invalid':tchr_reg.teacherIntro.errors && tchr_reg.teacherIntro.touched}"
            [(ngModel)]="intro"
            required></textarea>
            <div class="d-flex justify-content-between align-items-center">
                <div *ngIf="tchr_reg.teacherIntro.invalid && (tchr_reg.teacherIntro.dirty || tchr_reg.teacherIntro.touched)" class="text-danger text-left error-msg-div">
                    <div *ngIf="tchr_reg.teacherIntro.errors.required"><small>Introduction is required</small></div>
                    <div *ngIf="tchr_reg.teacherIntro.errors.maxlength"><small>Must have minimum 450 characters</small></div>
                </div>
                <small class="textarea-limit-indicator text-muted">{{intro.length}} / 255</small>
            </div>
        </div>
        <div class="row form-group align-items-center spec-col">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <input type="password" 
                formControlName="password" 
                id="password" 
                placeholder="Password" 
                class="form-control"
                [ngClass]="{'is-invalid':tchr_reg.password.errors && tchr_reg.password.touched}"
                required
                aria-describedby="password1HelpBlock">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-auto">
                <small id="password1HelpBlock" class="form-text text-muted mt-0">Must have at least 6 characters.</small>
            </div>
            <div *ngIf="tchr_reg.password.invalid && (tchr_reg.password.dirty || tchr_reg.password.touched)" class="text-danger text-left error-msg-div ml-3">
                <div *ngIf="tchr_reg.password.errors.required"><small>Password is required</small></div>
                <div *ngIf="tchr_reg.password.errors.minlength"><small>Must have minimum 6 characters</small></div>
            </div>
        </div>
        <div class="row form-group align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <input type="password" 
                formControlName="conf_password" 
                id="conf_password" 
                placeholder="Re-enter Password" 
                class="form-control"
                [ngClass]="{'is-invalid':tchr_reg.conf_password.errors && tchr_reg.conf_password.touched}"
                required
                aria-describedby="password2HelpBlock">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-auto">
                <small id="password2HelpBlock" class="form-text text-muted mt-0">Must be same as above.</small>
            </div>
            <div class="text-danger text-left error-msg-div ml-3" *ngIf="tchr_reg.conf_password.hasError('passwordMismatch')">
                <small>Passwords ain't matched. Please check again.</small>
            </div>
            <div *ngIf="tchr_reg.conf_password.invalid && (tchr_reg.conf_password.dirty || tchr_reg.conf_password.touched)" class="text-danger text-left error-msg-div ml-3">
                <div *ngIf="tchr_reg.conf_password.errors.required"><small>Please confirm your password</small></div>
                <div *ngIf="tchr_reg.conf_password.errors.minlength"><small>Must have minimum 6 characters</small></div>
            </div>
        </div>
        <button class="theme-btn w-100 mt-3" [disabled]="tchrRegForm.invalid">Register</button>
    </form>
</div>