.copyright-div{
    background: var(--theme-black);
    color: var(--theme-white);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.copyright-div a{
    color: var(--theme-green);
    padding-top: 1px;
    padding-bottom: 2px;
    font-weight: bold;
    letter-spacing: 0.7px;
}
.copyright-div a:hover{
    text-decoration: none;
    border-top: 1px solid var(--theme-green);
    border-bottom: 1px solid var(--theme-green);
}