@import "~bootstrap/dist/css/bootstrap.min.css";

/* ============== Custom Fonts ================ */
@font-face {
    font-family: cp_l;
    src: url(./assets/fonts/Cera-Pro-Light.otf);
}
@font-face {
    font-family: cp_r;
    src: url(./assets/fonts/Cera-Pro-Regular.otf);
}
@font-face {
    font-family: cp_m;
    src: url(./assets/fonts/Cera-Pro-Medium.otf);
}
@font-face {
    font-family: nexa;
    src: url(./assets/fonts/Nexa-Bold.ttf);
}

/* =============== Color Variables ================= */

:root{
    --theme-white: #f7f7f7;
    --theme-red: #e72043;
    --theme-blue: #3f5585;
    --theme-green: #94b65d;
    --theme-dark-green: #688542;
    --theme-black: #3a3a3c;
    --theme-gray: #eeeeee;
    --theme-gray-light: #f4f4f4;
    --theme-gray-dark: #e7e7e7;
    --white: #fff;
    --theme-btn-hover: #ce1d3d;
    --theme-s-btn-hover: #d6d6d6;
    --gray: #6e6e6e;
    --gray-light: #cccccc;
    --disabled: #e293a2;
    --red: rgb(204, 24, 24);
    --red-hover: rgb(167, 20, 20);
}

/* ========== Form Validation Styles =========== */

.ng-valid[required], .ng-valid.required {
    border: 1px solid #2dd836;
}
  
.ng-invalid:focus, .ng-touched:not(form) {
    border: 1px solid #f15856;
}

/* ================ Button Styles ================= */
.theme-btn{
    background: var(--theme-red);
    color: var(--white);
    border-radius: 7px;
    padding: 8px 15px;
    border: none;
    outline: none;
    font-family: cp_r;
    text-transform: capitalize;
    transition: 0.3s all;
}
.theme-btn:hover{
    background: var(--theme-btn-hover);
}
.theme-btn[disabled]{
    background: var(--disabled);
}
.theme-btn[disabled]:hover{
    cursor: not-allowed;
    background: var(--disabled);
}
.theme-btn-secondary{
    background: var(--theme-gray-dark);
    color: var(--theme-black);
    border-radius: 7px;
    padding: 8px 15px;
    border: none;
    outline: none;
    font-family: cp_r;
    text-transform: capitalize;
    transition: 0.3s all;
}
.theme-btn-secondary:hover{
    background: var(--theme-s-btn-hover);
}
.theme-btn-secondary[disabled]{
    background: var(--theme-gray-light);
}
.theme-btn-secondary[disabled]:hover{
    cursor: not-allowed;
    background: var(--theme-gray-light);
}
.theme-del-btn{
    border: 2px solid var(--red);
    color: var(--red);
    background: #fff;
    border-radius: 7px;
    padding: 6px 15px;
    outline: none;
    font-family: cp_r;
    text-transform: capitalize;
    transition: 0.3s all;
}
.theme-del-btn:hover{
    background: var(--red-hover);
    color: var(--theme-white);
}
.theme-del-btn[disabled]{
    background: var(--disabled);
}
.theme-del-btn[disabled]:hover{
    cursor: not-allowed;
    background: var(--disabled);
}
.action-btn{
    color: var(--theme-white);
    border-radius: 5px;
    padding: 4px 8px;
    border: none;
    outline: none;
    font-family: cp_r;
    text-transform: capitalize;
    transition: 0.3s all;
}
.action-btn.normal-btn{
    background: var(--theme-green);
}
.action-btn.normal-btn:hover{
    background: var(--theme-dark-green);
}
.action-btn.normal-btn[disabled]{
    background: var(--disabled);
}
.action-btn.normal-btn[disabled]:hover{
    cursor: not-allowed;
    background: var(--disabled);
}
.action-btn.del-btn{
    background: var(--red);
}
.action-btn.del-btn:hover{
    background: var(--red-hover);
}
.action-btn.del-btn[disabled]{
    background: var(--theme-gray-light);
}
.action-btn.del-btn[disabled]:hover{
    cursor: not-allowed;
    background: var(--theme-gray-light);
}
.other-btn{
    background: #127cc2;
    color: var(--white);
    border-radius: 7px;
    padding: 8px 15px;
    border: none;
    outline: none;
    font-family: cp_r;
    text-transform: capitalize;
    transition: 0.3s all;
}
.other-btn:hover{
    background: #106aa7;
}

/* ============== Common styles ================ */
.material-icons.md-10 { font-size: 10px !important; }
.material-icons.md-15 { font-size: 15px !important; }
.material-icons.md-18 { font-size: 18px !important; }
.material-icons.md-19 { font-size: 19px !important; }
.material-icons.md-21 { font-size: 21px !important; }
.material-icons.md-24 { font-size: 24px !important; }
.material-icons.md-27 { font-size: 27px !important; }
.material-icons.md-30 { font-size: 30px !important; }
.material-icons.md-36 { font-size: 36px !important; }
.material-icons.md-42 { font-size: 42px !important; }
.material-icons.md-48 { font-size: 48px !important; }
.material-icons.md-55 { font-size: 55px !important; }
*{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    font-family: nexa;
}
nav ul > li{
    margin-right: 20px;
}
nav ul > li:last-child{
    margin-right: 0;
}
nav ul > li > a{
    font-family: cp_r;
    color: #222;
    text-transform: capitalize;
    transition: 0.3s;
}
.bg-gray{
    background: var(--theme-gray);
}
.section-height{
    height: calc(100vh - 110px);
    overflow-y: auto;
}
.section{
    padding: 50px 0;
}
.custom-section-margin{
    margin: 50px auto;
}
.horizontal-divider{
    width: 20%;
    margin: 15px auto 25px;
    border-top: 4px solid var(--theme-red);
}
.fullwidth-horizontal-divider{
    width: 100%;
    margin: 15px auto 25px;
    border-top: 4px solid var(--theme-red);
}
input, textarea, select{
    border-radius: 7px !important;
}
.custom-shadow-div{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px 0px;
}
.badge{
    letter-spacing: 1px;
}
.modal-header{
    background: var(--theme-red);
}
.modal-header h5, .modal-header button{
    color: #fff;
    font-family: cp_m;
}
.alert{
    font-family: cp_r;
}
table th{
    font-family: cp_l;
    font-size: 15px;
}
table td{
    font-family: cp_l;
    font-size: 14px;
}
.custom-pagination .ngx-pagination li{
    border: 1px solid #dddddd;
    font-family: cp_r;
    margin: 0;
}
.custom-pagination .ngx-pagination .current{
    background: var(--theme-red);
    border-color: var(--theme-red);
}
.custom-pagination .ngx-pagination span{
    font-family: cp_r;
}
.custom-pagination .ngx-pagination .pagination-previous a::before, 
.custom-pagination .ngx-pagination .pagination-previous.disabled::before {
    content: '\276E';
}
.custom-pagination .ngx-pagination .pagination-next a::after, 
.custom-pagination .ngx-pagination .pagination-next.disabled::after {
    content: '\276F';
}
.spinner-div{
    padding: 42px 10px;
    border-radius: 10px;
}
.spinner{
    margin: 10px 0;
}

/* ================== Control Panel Styles ==================== */

.control-panel-content-section{
    margin-bottom: 40px;
}
.content-title > h3{
    font-family: nexa;
    text-transform: uppercase;
}
.content-title > span{
    font-family: cp_r;
    color: var(--gray);
}
.content-title button{
    background: var(--theme-black);
    color: #fff;
    border-radius: 10px;
    border: none;
    font-family: cp_r;
    padding: 7px 15px;
    font-size: 14px;
}

/* Tabs styles */

.nav-tabs{
    background: var(--theme-gray);
    border-radius: 10px 10px 0 0;
}
.nav-tabs > .nav-item > .nav-link{
    color: var(--theme-black);
    font-family: cp_r;
}
.nav-tabs > .nav-item > .nav-link:hover{
    border-radius: 10px 10px 0 0;
}
.nav-tabs > .nav-item > .nav-link.active{
    color: var(--theme-red);
    border-radius: 10px 10px 0 0;
}
.tab-title > p{
    font-family: cp_r;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}
.tab-content form label{
    font-family: cp_r;
    color: var(--gray);
}
.tab-content form input, .tab-content form textarea{
    font-size: 15px;
}
.study-file > div{
    border: 1px solid transparent;
}
.study-file > div:hover{
    border: 1px solid #ccc;
    border-radius: 10px;
}
.study-file > div:hover a{
    color: var(--theme-red);
    text-decoration: none;
}
.study-file .download-file-div > span{
    color: var(--gray);
    font-size: 13px;
}
.file-del-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    transition: 0.1s;
}
.file-del-btn:hover{
    cursor: default;
    transform: scale(1.15);
}
.study-file > div:hover .file-del-btn{
    display: block;
}

/* Drag and Drop Styles */

.dropzone{
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    position: relative;
}
.dropzone > input{
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dropzone > label{
    color: var(--white) !important;
    font-size: 15px;
    border-radius: 10px;
    background-color: #127cc2;
    padding: 5px 15px;
}
.dropzone > i{
    color: var(--gray);
}
.dropzone > h4{
    font-size: 20px;
    font-family: cp_r;
    color: var(--gray-light);
}

/* ==================== Classes Styles ========================= */
.class-col > a:hover{
    text-decoration: none;
}
.class-col > a:hover > .card, .class-col:hover > .card{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 25px 0px;
    margin-top: -10px;
}
.class-col .card{
    transition: 0.25s all;
}
.card img{
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
.card-title, .card-body small, .card-text{
    color: var(--theme-black);
}
.card-title{
    font-family: cp_m;
    text-transform: capitalize;
    margin-bottom: 0;
}
.card-body small{
    color: var(--gray);
    font-family: "Arial";
}
.card-text{
    margin-top: 10px;
    font-size: 14px;
    font-family: "Arial";
}
.class-price{
    margin-bottom: 0;
    font-family: cp_m;
    color: var(--theme-red);
    font-size: 20px;
    text-align: right;
}

