<div class="page-content-wrapper">
    <app-common-navbar></app-common-navbar>
    <div class="h-100 pb-5">
        <section class="bg-gray section" id="signin-header">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-sm-12 col-md-5 col-lg-7 header-image-col">
                        <img src="../../assets/images/logo.png" alt="Website Logo Image">
                    </div>
                    <div class="col-sm-12 col-md-7 col-lg-5 header-signin-form-col">
                        <app-signin></app-signin>
                    </div>
                </div>
            </div>
        </section>
        <section id="signin-bottom-section">
            <div class="container py-5 text-justify">
                <div>
                    <h4>Our Mission</h4>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa eius sunt quasi? Harum optio corporis doloremque vitae quibusdam dignissimos in? Vel commodi laboriosam debitis, iusto magnam perferendis in inventore nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ducimus inventore aperiam corporis doloribus facilis quod earum dolores ratione eum dolore, vero, magnam quos ea rerum pariatur aut itaque! Excepturi!
                    </p>
                </div>
                <div class="mt-5">
                    <h4>Our Vision</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit suscipit ullam provident culpa dolorum ipsam ab quos, nulla vitae debitis et at beatae excepturi odit, sunt minus sapiente magnam iste. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quisquam, libero officiis quo distinctio autem commodi atque. Ex error totam beatae, alias assumenda vitae temporibus, magnam dolores amet nostrum enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Et cumque quas, quasi repudiandae ullam quia quidem, error nulla alias ipsum tenetur iure nemo. Rem provident commodi harum ullam consequuntur recusandae!
                    </p>
                </div>
            </div>
        </section>
    </div>
    <app-copyright-sec></app-copyright-sec>
</div>
