.page-content-wrapper{
    position: relative;
    min-height: 100vh;
}
.register-form-div{
    background: var(--white);
    padding: 40px 50px;
    border-radius: 10px;
    text-align: center;
}
.register-form-div .navigation-div{
    border-right: 1px solid #dddddd;
}
.register-form-div h3{
    font-family: nexa;
    color: var(--theme-black);
}
.form-navigator > li{
    list-style: none;
    background: var(--theme-gray-dark);
    border-radius: 7px;
    padding: 10px 0;
    margin-bottom: 15px;
}
.form-navigator > li.active{
    background: var(--theme-black);
    border-color: var(--theme-black);
}
.form-navigator > li.active a{
    color: #fff;
    width: 100%;
}
.form-navigator > li > a{
    color: var(--theme-red);
    font-family: cp_r;
    padding: 12px 65px;
}
.form-navigator > li > a:hover{
    text-decoration: none;
}
.copyright-wrapper{
    position: relative;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .register-form-div{
        padding: 30px 15px;
    }
    .register-form-div .navigation-div{
        border-right: none;
        margin-bottom: 15px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .register-form-div{
        padding: 30px 30px;
    }
    .register-form-div .navigation-div{
        border-right: none;
        margin-bottom: 15px;
    }
    .form-navigator > li > a{
        font-size: 14px;
        padding: 12px 270px;
    }
}