<div class="custom-shadow-div bg-white p-4" *ngIf="isTeacher">
    <div class="personalized-data">
        <h5>Personalized Data</h5>
        <div class="personal-data-div d-flex">
            <div class="data-left w-50">
                <i class="material-icons md-30 float-left mr-3">local_library</i>
                <span *ngIf="isTeacher">My Classes</span>
                <span>Joined Classes</span>
            </div>
            <div class="data-right w-50 text-center">
                <span *ngIf="isTeacher">{{joined_classes}}</span>
                <span>04</span>
            </div>
        </div>
        <div class="personal-data-div d-flex">
            <div class="data-left w-50">
                <i class="material-icons md-30 float-left mr-3">people</i>
                <span *ngIf="isTeacher">Students</span>
                <span>Teachers</span>
            </div>
            <div class="data-right w-50 text-center">
                <span *ngIf="isTeacher">{{total_students}}</span>
                <span>03</span>
            </div>
        </div>
    </div>
    <br>
    <!-- <div class="personalized-data" *ngIf="isStudent">
        <h5>Fees Status</h5>
        <div class="fees-status">
            <div class="row align-items-center justify-content-between m-0">
                <div class="col-md-8 title-month-status">
                    <h6>Combined Mathematics</h6>
                    <small>by Rohana Senanayaka</small>
                    <p class="mb-0">
                        2021 January |
                        <span>Status: <span class="badge badge-success">PAID</span></span>
                    </p>
                </div>
                <div class="col-md-4 class-fees text-center bg-white rounded-lg">
                    <span>Rs.2500.00</span>
                </div>
            </div>
        </div>
        <div class="fees-status">
            <div class="row align-items-center justify-content-between m-0">
                <div class="col-md-8 title-month-status">
                    <h6>Physics</h6>
                    <small>by Nihal Dikwella</small>
                    <p class="mb-0">
                        2021 January |
                        <span>Status: <span class="badge badge-danger">NOT PAID</span></span>
                    </p>
                </div>
                <div class="col-md-4 class-fees text-center bg-white rounded-lg">
                    <span>Rs.2500.00</span>
                </div>
            </div>
        </div>
        <div class="fees-status">
            <div class="row align-items-center justify-content-between m-0">
                <div class="col-md-8 title-month-status">
                    <h6>Chemistry</h6>
                    <small>by Rasangi Karunathilaka</small>
                    <p class="mb-0">
                        2021 January |
                        <span>Status: <span class="badge badge-success">PAID</span></span>
                    </p>
                </div>
                <div class="col-md-4 class-fees text-center bg-white rounded-lg">
                    <span>Rs.2500.00</span>
                </div>
            </div>
        </div>
    </div> -->
</div>