<section class="control-panel-content-section">
    <div class="content-title">
        <h3 class="mb-0">Profile</h3>
        <span>All the personal info about you</span>
    </div>
    <div class="control-panel-content mt-4">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <app-show-bio-info></app-show-bio-info>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <app-show-user-status></app-show-user-status>
            </div>
        </div>
    </div>
</section>